.app-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.form-container,
.result-container {
  width: 45%;
  border: 1px solid #ccc;
  padding: 10px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  border-width: 1px;
}

